/*
  1. Use a more-intuitive box-sizing model.
*/
*, *::before, *::after {
    box-sizing: border-box;
  }
  /*
    2. Remove default margin
  */
  * {
    margin: 0;
  }
  /*
    3. Allow percentage-based heights in the application
  */
  html, body {
    height: 100%;
  }
  /*
    Typographic tweaks!
    4. Add accessible line-height
    5. Improve text rendering
  */
  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
  }
  /*
    6. Improve media defaults
  */
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  /*
    7. Remove built-in form typography styles
  */
  input, button, textarea, select {
    font: inherit;
  }

/* Color Styles */
:root {
    --violet: #674baf;
    --soft-magenta: #e882e8;
}

/* Mobile ↓ */
body {
    background: url(images/bg-mobile.svg) 0 0 var(--violet) no-repeat;
    background-size: 100% auto;
    font-family: 'Poppins', sans-serif;
    padding: 36px;
}

.illustrated {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 60px;
}

.logo {
    max-width: 120px;
    height: auto;
    margin-bottom: 70px;
}

.mockups {
    max-width: 296px;
    height: auto;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content-hdr {
    font-size: 24px;
    font-weight: 600;
    color: white;
    text-align: center;
    line-height: 36px;
    margin-bottom: 16px;
}

.content-text {
    font-size: 16px;
    font-weight: 400;
    color: white;
    font-family: 'Open Sans', sans-serif;
    line-height: 24px;
    text-align: center;
    margin-bottom: 24px;
}

.register-btn {
    text-decoration: none;
    background-color: white;
    font-size: 12px;
    font-weight: 400;
    padding: 11px 75px;  
    border-radius: 50px;
    display: inline-block;
    margin-bottom: 64px;
    box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.269022);
}

.social {
    display: flex;
    justify-content: center;
}

.social > img {
    width: 28px;
    height: auto;
    margin-right: 10px;
}


/* Desktop ↓ */
@media screen and (min-width: 1440px) {
    body {
        background: url(images/bg-desktop.svg) 0 0 var(--violet) no-repeat;
        background-size: 100% auto;
        padding: 64px 80px 40px 80px;
    } 
    
    main {
        display: grid;
        grid-template-columns: repeat(2, 50%);
        grid-template-rows: repeat(2, min-content);
        max-width: 1280px;
    }

    .mockups {
        max-width: 696px;
        height: auto;
    }

    .logo {
        max-width: 200px;
        height: auto;
        margin-bottom: 104px;
    }
    
    .content-hdr {
        font-size: 40px;
        font-weight: 600;
        color: white;
        text-align: left;
        line-height: 60px;
        margin-bottom: 24px;
    }

    .content-text {
        font-size: 18px;
        font-weight: 400;
        color: white;
        font-family: 'Open Sans', sans-serif;
        font-style: normal;
        text-align: left;
        line-height: 27px;
        margin-bottom: 24px;
    }

    .register-btn {
        text-decoration: none;
        background-color: white;
        font-size: 18px;
        font-weight: 400;
        padding: 13px 64px;  
        border-radius: 28px;
        display: inline-block;
        box-shadow: 2px 4px 9px 3px rgba(0, 0, 0, 0.258633);
        max-width: 200px;
        margin: 0;
    }

    .register-btn:hover {
        background-color: var(--soft-magenta);
        color: white;
        cursor: pointer;
    }
}

